
form {
    max-width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin: 0 auto; */
    padding: 20px;
    border-radius: 8px;
}
label {
    display: block;
    margin-bottom: 8px;
}
input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
button {
    padding: 10px 15px;
    background-color: #402cc4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}

fieldset.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Espace entre les éléments */
    margin-bottom: 20px;
}

/* Les labels et les cases à cocher seront disposés côte à côte */
fieldset.tags input[type="checkbox"],
fieldset.tags label {
    display: inline-block;
    margin-right: 10px; /* Espacement entre la case à cocher et le label */
    font-size: 1em;
    vertical-align: middle;
}

/* Rendre les éléments plus compactes si nécessaire */
fieldset.tags label {
    margin-left: 5px;
}